@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    max-width: 400px;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    height: 500px;
    width:400px;
}

.display {
    font-family: 'Orbitron', sans-serif;
    grid-column: 1 / span 4;
    background-color: rgb(97, 96, 96);
    border: 1px solid rgb(97, 96, 96);
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: right;
    color:white;
}

.btn {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #323330d7;
    color: gray;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Orbitron', sans-serif;
}

.btn:hover {
    color: black;
    background-color: #d0d0d0;
}

#diff{
    background-color: #eda80c;
    color:white;
}
#diff-1{
    background-color: gray;
    color:white
}
